<div>
  <h2 mat-dialog-title>Alert</h2>
  <mat-dialog-content>
    {{data}}
    <br>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onCloseConfirm()">Ok</button>
  </mat-dialog-actions>
</div>