<div [class.loader-hidden]="!show">
  <div class="loader-overlay">
          <div>
              <!-- <mat-progress-bar mode="indeterminate" ></mat-progress-bar> -->
              <mat-spinner *ngIf="show"></mat-spinner>
          </div>
  </div>
</div>