.fill-space {
    flex: 1 1 auto;
}

.block {
    width: 50%;
}

.avatar {
    background-size: contain;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.stickey {
    top: 0;
    position: fixed;
    z-index: 999;
    box-shadow : 0 0 20px 2px #000;
}