<mat-toolbar color="primary" class="stickey" layout="row" layout-align="space-between center">
    <!-- left buttons -->
    <span>
        <button mat-button (click)="home()">
            <i class="material-icons">
                people
            </i>&nbsp;&nbsp; Connecting Ideas
        </button>
    </span>

    <!-- space between left and right -->
    <span class="fill-space"></span>

    <!-- right buttons -->
    <span>
        <button mat-button [matMenuTriggerFor]="menu">
            <img *ngIf="userData?.profilePic" src="{{userData?.profilePic}}" class="avatar"> &nbsp;&nbsp; {{userData?.firstname}} {{userData?.lastname}}
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="viewProfile()">Profile</button>
            <button mat-menu-item (click)="logout()">Log-out</button>
        </mat-menu>
    </span>
</mat-toolbar>