<div class="content">
  <img src="assets/img/error-img.png">
  <p>You Requested the page that is no longer There.</p>
  <button mat-raised-button color="warn" (click)="goHome()">Back to Home</button>
  <div class="copy-right">
    <br>
    <br>
    <p>&copy; 2018 #hexspeak. All Rights Reserved | Design by #hexspeak</p>
  </div>
</div>