.content {
    background-color: rgb(223, 223, 223);
    padding-top: 100px;
}

.content p {
    margin: 18px 0px 45px 0px;
}

.content p {
    font-family: "Roboto";
    font-size: 2em;
    color: #666;
    text-align: center;
}

.content p span,
.logo h1 a {
    color: #e54040;
}

.content {
    text-align: center;
    /* padding: 110px 0px 0px 0px; */
}

.copy-right{
    padding-top:20px;
    background-color: rgb(223, 223, 223);    
}
.copy-right p{
    font-size:0.9em;
    margin: 0px;
    padding-bottom: 7px;
}