<mat-card class="example-card">

  <div class="logo">
    <i class="material-icons">all_inclusive</i>
  </div>

  <div class="title">
    <a class="text">Login to your Account</a>
  </div>

  <br>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [(ngModel)]="user.email" type="text" required>
    <span matSuffix>@saffrony.ac.in &nbsp;</span>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" required>
  </mat-form-field>

  <mat-checkbox class="checkbox">Remember Me</mat-checkbox>

  <div class="forgot">
    <a routerLink="/forgot-password">Forgot Password?</a>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="button-login">
    <button mat-raised-button class="login" color="primary" (click)="login()">Login</button>
  </div>

  <br>

  <div class="register" style="box-sizing: border-box; display: flex; flex-direction: column; max-width: 100%; align-items: center;">
    <span class="text">Don't have an account?</span>
    <a class="link" routerLink="/signup">Create an account</a>
  </div>

</mat-card>