.example-card {
    margin: 50px auto;
    width: 300px;
    background: #FFFFFF;
    padding: 2.5em;
    position: relative;
}

.forgot {
    float: right;
    font-size: 14px;
}

.forgot:hover {
    text-decoration: underline;
}

.logo {
    text-align: center;
    padding-bottom: 30px;
}

.material-icons {
    font-size: 100px;
    color: rgb(247, 197, 89);
    text-shadow: 2px 1px 5px #000000;
}

img {
    height: 100px;
}


.example-full-width {
    width: 100%;
}

.login {
    align-items: center;
    width: 70%;
}

.seprator {
    font-size: 15px;
    font-weight: 600;
    margin: 24px auto;
    position: relative;
    overflow: hidden;
    width: 100px;
    color: rgba(0, 0, 0, .54);
    display: block;
    text-align: center;
    /* padding: 10px; */
}

.social {
    width: 60%;
    text-align: center;
}

.button-login {
    text-align: center;
    color: #000000;
}

.checkbox {
    font-size: 14px;
    float: left;
}

.button-social {
    padding-bottom: 10px;
    text-align: center;
}

.title {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}