.example-card {
    margin: 50px auto;
    width: 300px;
    background: #FFFFFF;
    padding: 2.5em;
    position: relative;
}

.example-margin {
    margin: 0 15px 0 0;
}

.term {
    float: left;
    font-size: 14px;
}

.forgot:hover {
    text-decoration: underline;
}

.logo {
    text-align: center;
    padding-bottom: 30px;
}

.micon {
    font-size: 100px;
    color: rgb(29, 168, 192);
    text-shadow: 2px 1px 5px #000000;
}

.example-header-image {
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.center {
    text-align: center;
    text-align: -moz-center;
    align-content: center;
}

img {
    height: 100px;
}

.example-full-width {
    width: 100%;
}

.login {
    align-items: center;
    width: 70%;
}

.seprator {
    font-size: 15px;
    font-weight: 600;
    margin: 24px auto;
    position: relative;
    overflow: hidden;
    width: 100px;
    color: rgba(0, 0, 0, .54);
    display: block;
    text-align: center;
    /* padding: 10px; */
}

.social {
    width: 60%;
    text-align: center;
}

.button-login {
    text-align: center;
    color: #000000;
}

.checkbox {
    font-size: 14px;
    float: left;
    padding-inline-end: 5px;
}

.button-social {
    padding-bottom: 10px;
    text-align: center;
}

.title {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}