<div class="my-container">

  <mat-card class="example-card">

    <div class="logo">
      <i class="material-icons micon">all_inclusive</i>
    </div>

    <div class="title">
      <a class="text">Create an Account</a>
    </div>

    <br>

    <br>

    <mat-form-field class="example-full-width">
      <input matInput id="fname" placeholder="First Name" [(ngModel)]="user.fname" type="text" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput id="lname" placeholder="Last Name" [(ngModel)]="user.lname" type="text" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <span matPrefix>+91 &nbsp;</span>
      <input matInput id="mobile" placeholder="Mobile no." [(ngModel)]="user.mobile" type="text" required>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-radio-group [(ngModel)]="user.gender">
        <label class="example-margin">Gender:</label>
      <mat-radio-button class="example-margin" value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>


    <mat-form-field class="example-full-width">
      <input matInput id="email" placeholder="Email" [(ngModel)]="user.email" type="text" required>
      <span matSuffix>@saffrony.ac.in &nbsp;</span>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput id="password" placeholder="Password" [(ngModel)]="user.password" type="password" required>
      <mat-icon matSuffix>security</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput id="password" placeholder="Confirm Password" [(ngModel)]="user.repassword" type="password" required>
    </mat-form-field>

    <br>
    <br>

    <div class="button-login">
      <button mat-raised-button class="login" color="primary" type="submit" (click)="register()">Create an account</button>
    </div>

    <br>

    <div class="register" style="box-sizing: border-box; display: flex; flex-direction: column; max-width: 100%; align-items: center;">
      <span class="text">Already have an account?</span>
      <a class="link" routerLink="/login">Login</a>
    </div>


  </mat-card>

</div>