.img {
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    overflow: hidden;
}

mat-progress-bar {
    z-index: 999;
    position: fixed;
}

.second {
    /* height: 350px; */
    /* width: 350px; */
    /* padding-right: 15%; */
    padding-left: 5%;
    padding-top: 18px;    
    /* background-color: gold; */
}

.second h2, h3 {
    margin-top: 0px;
    text-decoration: none;
    font-weight: 400;
}

.first {
    padding-left: 8%;
    padding-right: 3%;
    border-right: thin solid gray;
    /* background-color: black; */
    /* height: 350px; */
}

hr {
    color: gray;
    width: 200px;
}

.imgContainer {
    /* margin-top: 15%; */
}

img {
    height: 150px;
}

.left {
    float: left;
}

.fix {
    clear: both;
}

.example-card {
    width: 600px;
    background: #FFFFFF;
    padding: 2.5em;
    /* left: 50%; */
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    height: 420px;
}

.logo {
    text-align: center;
    padding-bottom: 30px;
}

.material-icons {
    font-size: 100px;
    color: rgb(247, 197, 89);
    text-shadow: 2px 1px 5px #000000;
}

.space {
    padding: 20px;
}

.social {
    width: 60%;
    text-align: center;
}

.title {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.my-container {
    background-color: rgb(98, 192, 192);
    background: repeat;
}