<app-titlebar></app-titlebar>
<div class="my-container">
  <mat-progress-bar *ngIf="progressBarValue" [color]="color" [mode]="mode" [value]="progressBarValue"></mat-progress-bar>

  <div class="space">
  </div>

  <mat-card class="example-card">

    <div class="title">
      <a class="text">Profile Information</a>
    </div>

    <br>
    <hr>
    <br>
    <br>
    <br>
    <br>

    <div class="center">
      <div class="first left">
        <div class="imgContainer">
          <div class="img">
            <img src="{{userData?.profilePic}}" alt="Profile Pic">
          </div>
          <br>
          <h3>Change Profile-pic</h3>
          <input #fileInput type="file" (change)="chooseFiles($event)">
          <br>
          <button mat-raised-button (click)="uploadPP()" color="primary">Upload ProfilePic</button>
        </div>
      </div>

      <div class="second left">
        <h2>{{userData?.firstname}} {{userData?.lastname}}</h2>
        <h3>{{userData?.email}}</h3>
        <h3>+91 {{userData?.mobile}}</h3>
        <h3>{{userData?.gender}}</h3>
      </div>
    </div>

    <br>
    <br>

  </mat-card>
</div>