/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: rgb(204, 204, 204);
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
}