.md-dialog-container {
    background-color: #000;
    width: 250px;
    height: 250px
}

mat-progress-bar {
    z-index: 999;
    position: fixed;
}

.example-card {
    max-width: 500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(224, 224, 224); */
}

.avatar {
    background-size: contain;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.img {
    width: 600px;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    background-color: red;    
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: -8px;
    height: 36px;
}

.page-header {
    background-color: rgb(78, 42, 207);
    text-align: center;
}

h2 {
    color: #ffffff;
}

* {
    font-family: Roboto;
}
