<app-titlebar>
</app-titlebar>
<!-- <div *ngIf="progressBarValue"> {{ progressBarValue }} %</div> -->
<mat-progress-bar *ngIf="progressBarValue" [color]="color" [mode]="mode" [value]="progressBarValue">
</mat-progress-bar>

<div class="page-header">
    <br>
    <br>
    <br>
    <br>

    <h2>You can upload your Image from here ...</h2>

    <label class="fileContainer">
        <button mat-raised-button color="warn">Select Images</button>
        <input type="file" (change)="chooseFiles($event)" accept="image/x-png,image/jpeg" />
    </label>

    <button mat-raised-button (click)="uploadIg()" color="primary">Upload Images</button>

    <br>


    <!-- <input type="file" (change)="onImageChange($event)" accept="image/*"> -->
    <!-- <img class="img"
        *ngIf="imagePreview"
        [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)"> -->

    <br>
    <br>
</div>

<mat-card class="example-card" *ngFor="let userFeed of items | async">
    <mat-card-header>
        <img mat-card-avatar src="{{ userFeed.profilePic }}" class="avatar">
        <mat-card-title>{{ userFeed.fname }} {{ userFeed.lname }}</mat-card-title>
        <mat-card-subtitle>{{ userFeed.branch }}</mat-card-subtitle>
    </mat-card-header>
    <br>
    <img mat-card-image src="{{ userFeed.feed }}">
    <mat-card-content *ngIf="userFeed.summary">
        <p>
            {{ userFeed.summary }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        {{userFeed?.likes}}
        <button mat-button (click)="like(userFeed.$key,userFeed.likes)">Like</button>
            <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>